################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
*.user
*.suo
*.vscode/

# Build artifacts
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.appx

# Packages
packages/
*.nupkg
project.lock.json

# Logs and database
*.log
*.ldb
*.mdf
*.ldf

# OS-Specific
Thumbs.db
.DS_Store

# ASP.NET Core / .NET
wwwroot/
node_modules/
dist/
.env
appsettings.json
appsettings.*.json
secrets.json

# Resharper
_ReSharper.Caches/
*.DotSettings.user

# Rider
.idea/

# JetBrains Rider / ReSharper
**/.idea/
**/.vs/
**/.sln.iml
/AjaxCleaningHCM.Domain/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Domain.AssemblyInfo.cs
/AjaxCleaningHCM.Infrastructure/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Infrastructure.AssemblyInfo.cs
/AjaxCleaningHCM.Domain/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Domain.AssemblyInfoInputs.cache
/AjaxCleaningHCM.Domain/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Domain.dll
/AjaxCleaningHCM.Domain/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Domain.pdb
/AjaxCleaningHCM.Domain/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Domain.sourcelink.json
/AjaxCleaningHCM.Infrastructure/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Infrastructure.AssemblyInfoInputs.cache
/AjaxCleaningHCM.Infrastructure/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Infrastructure.csproj.AssemblyReference.cache
/AjaxCleaningHCM.Infrastructure/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Infrastructure.dll
/AjaxCleaningHCM.Infrastructure/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Infrastructure.pdb
/AjaxCleaningHCM.Infrastructure/obj/Debug/netcoreapp3.1/AjaxCleaningHCM.Infrastructure.sourcelink.json
