@{
    ViewData["Title"] = "Result";
}

<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h3><span><i class="bx bx-check-double"></i> Request successfuly submitted</span>.</h3>
        </div>

        <div class="row">
            <div class="content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Your data is successfuly recorded.</h3>
                
                @*<ul>
                    <li>
                        <i class="bx bi-x-diamond-fill"></i>
                        <div>
                            <h5>Report Type</h5>
                            <span class="about-span-tag"><strong>@Model.ReportType</strong></span>
                        </div>
                    </li>
                    <li>
                        <i class="bx bi-x-diamond-fill"></i>
                        <div>
                            <h5>Reference Number</h5>
                            <span class="about-span-tag"><strong>@Model.ReferenceNumber</strong></span>
                        </div>
                    </li>
                </ul>*@

                <p>
                    We will push this data to BI automatically. You can view more sophisticated reports in BI.
                </p>
            </div>
        </div>

    </div>
</section>