@model AjaxCleaningHCM.Domain.Models.MasterData.DisciplineCategory
@{
    Layout = "_Default";
}
<form asp-area="AjaxCleaningHCM" asp-controller="DisciplineCategory" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="Name" placeholder="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" type="text" id="Code" placeholder="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" placeholder="Description" class="form-control">

                                </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group pl-2">
            <input type="number" asp-for="Id" hidden />
            <button type="submit" role="button" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>


