@model AjaxCleaningHCM.Domain.Models.MasterData.Branch
@{
    Layout = "_Default";
}
<form asp-area="AjaxCleaningHCM" asp-controller="Branch" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="Name" placeholder="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" id="Address" placeholder="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" id="City" placeholder="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
                <label asp-for="PhysicalLocation" class="control-label"></label>
                <input asp-for="PhysicalLocation" id="PhysicalLocation" placeholder="PhysicalLocation" class="form-control" />
                <span asp-validation-for="PhysicalLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" id="Phone" placeholder="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
                <label asp-for="NumberOfEmployees" class="control-label"></label>
                <input asp-for="NumberOfEmployees" id="NumberOfEmployees" placeholder="NumberOfEmployees" class="form-control" />
                <span asp-validation-for="NumberOfEmployees" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" placeholder="Description" class="form-control">

                                </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group pl-2">
            <button type="submit" role="button" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>


