@model AjaxCleaningHCM.Domain.DTO.MasterData.Response.BanksResponseDto
@{
    Layout = "_Default";
}

<!-- Include SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BankDtos)
        {
            <tr id="row-@item.BankCode">
                <td>@item.BankCode</td>
                <td>@item.BankName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit text-info"></i></a> |
                    <button class="btn btn-danger btn-sm" onclick="deleteBank('@item.Id')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function deleteBank(bankCode) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/AjaxCleaningHCM/Bank/Delete/' + bankCode,
                    success: function(response) {
                        if (response.success) {
                            Swal.fire("Deleted!", "The bank has been deleted.", "success");
                            $("#row-" + bankCode).remove();
                        } else {
                            Swal.fire("Error!", "Something went wrong.", "error");
                        }
                    },
                    error: function() {
                        Swal.fire("Error!", "Failed to delete the bank.", "error");
                    }
                });
            }
        });
    }
</script>
