@model AjaxCleaningHCM.Domain.DTO.MasterData.Response.BanksResponseDto
@{
    Layout = "_Default";
}

<!-- Include SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BankDtos)
        {
            <tr id="row-@item.BankCode">
                <td>@item.BankCode</td>
                <td>@item.BankName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit text-info"></i></a> |
                    <a class="btn" onclick="deleteEntity('Bank','@item.Id')"><i class="fas fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

