<!-- Main Footer -->
<footer class="main-footer">
    <!-- Default to the left -->
    <strong>&copy; 2022 - <a target="_blank" href="https://www.ethiopianairlines.com">Ethiopian Airlines</a></strong>
</footer>