
@model AjaxCleaningHCM.Core.UserManagment.Identity.User

@{
    Layout = "/Areas/AccountManagement/Views/Shared/_loginLayout.cshtml";
    ViewData["Title"] = "Forgot Password";
}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Forgot Password</h1>
                <hr />

                <div style="width:100%; background-color:#F5F5F9; padding: 50px;font-family: sans-serif; ">
                    <form asp-area="Main" asp-controller="Main" asp-action="Index" method="post">

                        <div style="width:400px; background-color:white;    box-shadow: 2px 2px 6px 1px #302e330f; padding: 50px;font-family: sans-serif; margin: auto; ">
                            <img src="https://images.pexels.com/photos/4291/door-green-closed-lock.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="margin: 16px;height: 160px; display:inline-block; margin-bottom: 20px;">

                            <p style="font-family: sans-serif;">Hi @ViewBag.Username,

                            <p style="font-family: sans-serif;line-height:1.4em;"> We've send the new reseted password on your account: <b> @ViewBag.email. </b></p>

                            @*<a style="background-color:#698AFF; padding:10px 20px; display:inline-flex; color:white; font-family: sans-serif;border-radius: 3px; margin-top: 20px; cursor:pointer; width: fit-content;">Set password </a>*@
                            <button type="submit" class="btn btn-success">Go Home</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>