@model AjaxCleaningHCM.Core.UserManagment.Identity.User

@{
    ViewData["Title"] = "Register";

    ViewData["ControllerName"] = "Account";
    ViewData["ActionName"] = "Register";
}

<!-- Default box -->
<div class="card">
    <div class="card-header">
        <a class="box-title col-md-2" asp-action="Index"><i class="fa fa-arrow-left text-green"></i>  Back to List </a>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           <div class="row">
                <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" placeholder="First name" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <label asp-for="MiddleName" class="control-label"></label>
                    <input asp-for="MiddleName" placeholder="Middle name" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" placeholder="Last name" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" placeholder="Employee id eg. 20990" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" placeholder="Email eg. example@gmail.com" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <label class="control-label">Roles</label>
                    <select style="width: 100%;" multiple name="Roles" data-placeholder="Roles" class="form-control select2" asp-items="ViewBag.Roles">
                        <option></option>
                    </select>
                </div>

              
           </div>
            <input type="submit" value="Register" class="btn btn-success" />
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $('.select2').select2()
        });
    </script>
}