@model AjaxCleaningHCM.Domain.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Reset Password";

    ViewData["ControllerName"] = "Account";
    ViewData["ActionName"] = "ResetPassword";
}

<!-- Default box -->
<div class="card">
    <div class="card-header">
        <a class="box-title col-md-2" asp-action="Index"><i class="fa fa-arrow-left text-green"></i>  Back to List </a>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h3>Reset Password</h3>
                <hr />
                <form asp-action="ResetPassword" method="post">

                    <div class="form-group">
                        @*<label asp-for="Username"></label>*@
                        @*<select style="width: 100%;" asp-for="Username" data-placeholder="Users" class="form-control select2">
                            <option></option>
                        </select>
                        <span asp-validation-for="Username" class="text-danger"></span>*@

                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" placeholder="enter the user name" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('.select2').select2()
        });
    </script>
}
